<h1>Listing remarks</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @remarks.each do |remark| %>
  <tr>
    <td><%= remark.name %></td>
    <td><%= link_to 'Show', remark %></td>
    <td><%= link_to 'Edit', edit_remark_path(remark) %></td>
    <td><%= link_to 'Destroy', remark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Remark', new_remark_path %>
