<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bank.name %>
</p>

<p>
  <b>Branch:</b>
  <%= @bank.branch %>
</p>

<p>
  <b>Ifsc:</b>
  <%= @bank.ifsc %>
</p>


<%= link_to 'Edit', edit_bank_path(@bank) %> |
<%= link_to 'Back', banks_path %>
